
* {box-sizing: border-box;}
a{text-decoration: none;}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}
img{max-width: 100%;}
.clear{clear: both;}
.wrap{
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.856);
}
.header{
    background-color: white;
    height: 100px;
}
.header_top{
    padding: 20px 0;
}
.logo{
    float: left;
    margin: 0 0 0 10px;
}
.search_box input[type="text"]{
    float: left;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    margin: 25px ;
    width: 25%;
    padding: 6px;
    background: url("img/search.png") no-repeat 98% ;
}
.call{
    float: left;
    margin: 13px;
    margin-left: 50px;
}
.call p{
    color: rosybrown;
    font-size: 0.9em;
}
.call p span{
    color: black;
    font-size: 1em;
    font-weight: bold;
}
.call p span.number{
    color: red;
    font-size: 1em;
}
    /*create button login */
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}
    /* Set a style for all button */
button{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.container{
    padding: 16px;
}
.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
span.psw{
    float: right;
    padding-top: 16px;
}
.positionClose{
    text-align: center;
    margin: 24px 0 12px 0;
    color: black;
    position: relative;
}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }  
    /* end */
#navbar {
    overflow: hidden;
    background-color: #333;
}
      
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
      
#navbar a:hover {
    background-color: #ddd;
    color: black;
}
      
#navbar a.active {
    background-color: #04AA6D;
    color: white;
}
      
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
      
.header_slide{
	margin-top:10px;
}
.showSlide {  
    display: none  
}  
.showSlide img {  
    width: 100%;  
}  
.slidercontainer {  
    max-width: 1280px;  
    position: relative;  
    margin: auto;  
}  
.left, .right {  
    cursor: pointer;  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: black;  
    font-weight: bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 0 3px 3px 0;  
    border: 2px solid black;
    background-color: brown;
}  
.right {  
    right: 0;  
    border-radius: 3px 0 0 3px;  
}  
.left:hover, .right:hover {  
    background-color: rgba(115, 115, 115, 0.8);  
}  
.content {  
    color: #eff5d4;  
    font-size: 30px;  
    padding: 8px 12px;  
    position: absolute;  
    top: 10px;  
    width: 100%;  
    text-align: center;  
}  
.active {  
    background-color: #717171;  
}  
/* Fading animation */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  
.sidenav{
    width: 130px;
    margin-top: 15px;
    z-index: 1;
    top: 20px;
    left: 20px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    text-align: center;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: red;
}
.sidenav a:hover {
    color: #064579;
  }
  
.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size: 15px;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.856);;
  }
  
.price {
    color: w;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:red;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}
.column{
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    margin-top: 20px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    border-top: 2px solid black;
    height: 200px;
 }

 /* Information food*/
.column2{
    float: left;
    width: 60%;
    padding: 10px 0 0 10px;
 }
.containerInfoFood{
    border: 1px solid rgba(255, 255, 255, 0.856);
    background-color: rgba(255, 255, 255, 0.856);
    margin-bottom: 15px;
}

/*create custom radio button*/
.containerRadio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .containerRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .containerRadio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .containerRadio input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerRadio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerRadio .checkmark:after {
    top: 3.8px;
    left: 3.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
